TELEMETRY_API_URL=https://dev-vistaar.da.gov.in/observability-service/action/data/v3/telemetry
TELEMETRY_ORIGIN=https://dev-vistaar.da.gov.in
TELEMETRY_REFERER=https://dev-vistaar.da.gov.in/chat
TELEMETRY_CHANNEL=BharatVistaar-https://dev-vistaar.da.gov.in
TELEMETRY_AUTH_TOKEN=
TELEMETRY_AUTH_KEY=gyte5565fdbgbngfnhgmnhmjgm,jm,
TELEMETRY_AUTH_SECRET=gnjhgjugkk
